<ul id="myScrollerKunden"><li>
<div class="kundenBodyControl">
$SHOWDOCLINK
<a href="javascript:delKunde('$kundeId');" style="float:right;" class="button">l&ouml;schen</a>
<a href="javascript:switchDataFunction('editKundeBut');" id="editKundeBut" style="float:right;" class="button">bearbeiten</a>
<a href="javascript:addContact('$kundeId');" style="float:right;" class="button">Zu Kontakte hinzuf&uuml;gen</a>
<a href="javascript:loadNotiz('$kundeId');" style="float:right;" class="button" id="showNotice">Notizen $COUNTNOTICE</a>
</div>
<br style="clear:both;" />
<div id="iNotiz"></div>
<form name="kundeEdit" id="kundeEdit" method"post" action="">
<input type="hidden" name="ajaxaction" value="2" />
<input type="hidden" name="kundenid" value="$kundeId" />
<div class="kundenBody">
<fieldset class="personalblock" style="float:left;width:{$defaultWidth}%;" valign="top">
	<h3><label style="font-weight:normal;" class="editField" name="sKundenName" title="Name">$mainName</label></h3><br />
	KdNr: <label class="editField" name="sKundenNr" title="Kundennummer">$mainKundenummer</label><br />
	<br />
	
	<label class="editField" name="sKundenStreet" title="Strasse">$mainStrasse</label><br />
	<label class="editField" name="sKundenPlz" title="Plz">$mainPlz</label> <label class="editField" name="sKundenOrt" title="Ort">$mainOrt</label><br />
</fieldset>
<fieldset class="personalblock" style="float:left; width:{$defaultWidth}%;" valign="top">
	<h3>Kontakt</h3>
	<span class="labelLeft">Ansprechpartner:</span> <label class="editField" name="sKundenPartner" title="Ansprechpartner">$mainAnsprechpartner</label><br />
	$moreInfoAnsprechpartner
	<span class="labelLeft">Telefon: </span><label class="editField" name="sKundenTel"title="Telefon">$mainTel</label><br />
	
	<span class="labelLeft">Mobil: </span><label class="editField" name="sKundenHdy" title="Mobil">$mainHandy</label><br />
	<span class="labelLeft">Fax: </span><label class="editField" name="sKundenFax" title="Fax">$mainFax</label><br />
	<span class="labelLeft" style="min-height:40px;">E-Mail: </span><label class="editField" name="sKundenEmail" title="E-Mail">$mainEmail</label><br />
</fieldset>
<br class="clearing" /><br />
<fieldset class="personalblock" style="float:left; width:{$defaultWidth}%;min-height:200px;">
	<h3>Mehr Informationen</h3>
	<span class="labelLeft">Kunden-Status:</span> $kundenStatus<br class="clearing" />
	<span class="labelLeft">Kunden-Typ:</span> $kundeArt<br class="clearing" />
	
	<span class="labelLeft">Aufmerksam durch:</span> <label class="editField" name="sKundenFound" title="Aufmerksam geworden">$foundCust</label><br class="clearing" />
	<span class="labelLeft">Kunden Ordner:</span> <label class="editField" name="sKundenOrdner" title="Kundenordner definieren">$CustomerOrdner</label><br />
</fieldset>
<br class="clearing" /><br />
</div><br class="clearing" /><br />
</form>
</li></ul>